body{
    background-color: crimson;
    color: white;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;

}
p{
    line-height: 1.6;
}

article + article {
    margin-top: 3rem;
    border-top: 1px solid #666;
    padding-top: 3rem;
}